<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing Page</title>
  <link rel="stylesheet" href="LandingPage.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Caveat:wght@400..700&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
  <div class="landing-container">
    <header class="landing-header">      
    <div> 
      <h1>Bem-vindo ao MotivaGames!</h1>
      <h2>Descubra, jogue e motive-se com nossa plataforma de jogos.</h2>
      <section>
      <section class="landing-cta">
        <a href="/login" class="landing-btn">Entrar</a>
        <section>
      <section class="landing-cta">        
        <a href="/sobre" class="landing-btn secondary">Saiba Mais</a>
      </section>
    </div>
    </header>
    <main class="landing-main">
      <section class="landing-features">
        <h3>Recursos</h3>
          <h4>Jogos motivacionais exclusivos</h4><img src="https://cdn.dribbble.com/userupload/42346351/file/original-3861e12764d32a1a5ad6e907674fe7a2.gif" id="firstgif" alt="jogos-motivacionais">
          <h4>Comunidade ativa</h4><img src="https://miro.medium.com/v2/1*Vq0sQ79QIZV6V1R-t7qtmw.gif" id="secondgif" alt="comunidade-ativa">
          <h4>Desafios diários</h4><img src="https://c.tenor.com/p322zJ_osRkAAAAC/tenor.gif" id="thirdgif" alt="desafios-diarios">
      </section>
    </main>
    <footer class="landing-footer">
      <p style="margin-bottom: 0%; margin-top: 0%; padding: 10px;">&copy; 2025 MotivaGames. Todos os direitos reservados.</p>
    </footer>
  </div>
</body>
<style>
</style>
</html>
