.dashboard {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.dashboard-header {
  background-color: #003566;
  border-bottom: 1px solid #005a87;
  padding: 20px 40px;
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 20px;
  cursor: pointer;
}

.dashboard-header nav {
  display: flex;
  gap: 20px;
}

.nav-button {
  padding: 10px 20px;
  background-color: transparent;
  color: #ffc300;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}

.nav-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-button.active {
  background-color: #ffc300;
  color: #003566;
}

.nav-button.logout {
  margin-left: auto;

}

.nav-button.logout:hover {
  background-color: #ffebee;
}

.dashboard-content {
  flex: 1;
  padding: 40px;
}

.dashboard-content h1 {
  color: #ffc300;
  font-size: 32px;
}
.fonte{
    color: #ffc300 !important;
} 